
@model ProductosModel
@{
    ViewData["Title"] = "CrearProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Producto
    </div>
    <div class="card-body">
    <form asp-action="CrearProducto" asp-controller="Producto" method="post">
        <div class="mb-3">
            <label class="form-label">Producto:</label>
            <input asp-for="desc_producto" class="form-control" type="text" placeholder="Ingrese Descripcion Producto" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label class="form-label">Tipo:</label>
            <input asp-for="tipo_producto" class="form-control" type="text" placeholder="Ingrese Tipo Producto" aria-label="default input example">
        </div>
        <div class="input-group mb-3">
            <label class="form-label">Precio:</label><br />
            <span class="input-group-text">$</span>
            <input asp-for="precio" type="text" class="form-control" placeholder="Ingrese Precio Producto">
            <span class="input-group-text">.00</span>
        </div>
        <div class="mb-3">
            <label class="form-label">Stock Bodega:</label>
            <input asp-for="stock_bodega" class="form-control" type="text" placeholder="Ingrese Stock Bodega" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label class="form-label">Stock Minimo:</label>
                <input asp-for="stock_minimo" class="form-control" type="text" placeholder="Ingrese Stock Minimo" aria-label="default input example">
        </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    </div>
</div>

